Tests: package-list
Depends: ruby,
         ruby-all-dev,
         ruby-ffi,
         ruby-magic,
         @

Test-Command: ruby spec/*_spec.rb
Depends: ruby,
         @

Test-Command: gem list --installed stringio
Features: test-name=default-gems
Depends: ruby,
         @
