Source: rubygems-integration
Section: ruby
Priority: optional
Maintainer: Sorah Fukumori <her@sorah.jp>
# FIXME: debhelper-compat
Build-Depends: debhelper-compat (= 12),
Standards-Version: 4.6.1
Vcs-Git: https://github.com/sorah-rbpkg/rubygems-integration.git
Vcs-Browser: https://github.com/sorah-rbpkg/rubygems-integration
Rules-Requires-Root: no

Package: rubygems-integration
Architecture: all
Depends: ca-certificates,
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: bundler
Multi-Arch: foreign
Description: integration of Debian Ruby packages with Rubygems
 rubygems-integration makes Debian Ruby packages recognizable by Rubygems.
 Debian Ruby packages may be used to satisfy Rubygems dependencies both with
 plain Rubygems and with Bundler. This also allows one to use Debian Ruby
 packages to satisfy dependencies in Rails 3 applications.
